.flexWrapper{
    width: 46rem;
    height: 1.125rem;
    display: flex;
    justify-content: space-between;
}

.flexWrapper > div + div{
    color: var(--purple-400);
}

.flexWrapper > div{
    color: var(--blue-400);
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
}

.flexWrapper > div > span{
    margin-left: .5rem;
    padding: 5px 14px;
    border-radius: 12px;
    color: var(--gray-100);
    background: var(--gray-400);
}

@media (max-width:750px) {
    .flexWrapper{
        max-width: 20rem;
    }
    
}